[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=UserPasswd
GenericName=Change Password
Comment=Change your password
Name[ru]=UserPasswd
GenericName[ru]=Смена пароля
Comment[ru]=Изменение личного пароля
StartupWMClass=org.altlinux.userpasswd
Icon=org.altlinux.userpasswd
Exec=/usr/bin/userpasswd
TryExec=/usr/bin/userpasswd
Terminal=false
Categories=Settings;
